
body{box-sizing: border-box;  margin: 0 auto; }

nav{

    width: 3.75rem;
    border: solid 1px #ccc;
    height: 0.4rem;
    position: fixed;
    top:0;
    background-color:white;
    box-shadow: 0 0.01rem 0 0;
    z-index:100;
    overflow: hidden;
}


#startbtn{
    
}
.tablink {
    text-align: center;
	color:#333;
	width:1.875rem;
    height: 0.4rem;
    border: 1px solid #ccc;
	background:none; 
    float: left;
	border-color:white;
    transform: 0.3s;
    background-color: inherit;
    cursor: pointer;
    font-size: 0.15rem;
}
.tabcontent {
    width: 3.75rem;

    border: 1px solid #ccc;
    height: 14rem;
     z-index: 5;
    background-color: aliceblue;
    
}
.active2{
     background-color: #ccc;
}

.starttitimg
{
    width: 3.75rem;
    margin: 1rem 0;
}
.titimg{
    width:1.5rem;    
}
.tit{
font-size: 0.2rem;
 margin:-0.5rem 0.3rem;  
  color:white;
}
.kj
{
    
    margin:0.52rem 0.13rem;
    margin-bottom: 0rem;
    width: 3.3rem;
    height: 2.5rem;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
   
    padding-left: 0.1rem;
    
}
.kj2{
    height: 5.2rem;  
}
.my
{
    margin-top:-0.63rem; 
}
.mytxt{
    font-size: 0.15rem;
}
.mytxt>p{
   
    width: 3.4rem;
    height: 0.05rem;
    font-size: 0.15rem;
}



.bt
{
    font-size: 0.15rem
}
ul>li{
    list-style-type:none;
    font-size: 0.15rem;
    margin: 0;
    padding: 0;
    
}
ul
{
  margin: 0;
    padding: 0;
}

.kjz
{
    height: 3.9rem;
}
.kjz>p
{
   
    font-size: 0.15rem;
    }
.kj3
{
    height: 1rem;
   
}
.kj3>p
{
    font-size: 0.15rem;
}
.jl>p
{
    font-size: 0.15rem;
   
    
}
.dj{
    font-size:0.15rem;
}
.btn{

	padding: 0.05rem 0.5rem;
	text-align: center;
	color:#333;
	width:1.3rem;
    border: 1px solid #ccc;
	background:none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.1rem;
}
.btn:active
{
    color: aliceblue;
}

.modal {/* 暗布 */
    
    display: none;/* 默认隐藏 */
    
    position: fixed; 
    z-index: 101; 
    padding-top: 1rem; 
    left: 0;
    top: 0;
    width: 3.75rem; 
    height: 10rem; 
    overflow: hidden; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin:   auto;
    position: relative;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 3rem;
    height: 1.5rem;
    border-radius: 4px;
    box-shadow: 4px 4px 4px  4px rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.3);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.model-header>p{
    font-size: 0.1rem;
    padding: 0 0.04rem;
}
.modal-body>p{
    font-size: 0.1rem;
}
@keyframes animatetop {
    from {top:-3rem; }
    to {top:0; }
}
.close {
    margin: -0.1rem 0.05rem;
    color: #999;
    float: right;
    font-size: 0.15rem;
    font-weight: bold;
    
}
.close:hover,.close:focus{
    color: #000;
    cursor: pointer;/*鼠标样式*/
}

.model-header {
    border-bottom: 1px solid #999;
    
}
.modal-body {
   
    padding: 0.06rem;
    border-bottom:1px solid #999; 
}

.modal-footer {
    padding: 0.01rem;
   
}
.btn1{
	margin: -1px 0;
	padding: 0.05rem 0.5rem;
	text-align: center;
	color:#333;
	width:1.3rem;
    border: 1px solid #ccc;
	background:none; 
    border-radius: 4px;
	border-color:#ccc;
    font-size: 0.15rem;
}
.btn:focus
{background:#948E8E; }
.sidenav {
    height: 10rem;
    width: 3rem;
    position: fixed;
    display: block;
    z-index: 2;
    top: 0;
    left:0;
    background-color: #111;
    overflow-x:hidden;
    padding-top:0.5rem; 
    animation-name: huadong;
    animation-duration: 0.5s;
}
.sidenav a{
    padding: 0.08rem  0.08rem  0.08rem  0.08rem  0.32rem;
    text-decoration: none;
    font-size: 0.2rem;
    color: #818181;
     display: block;
    text-align: center;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    
}
.closebtn {
    position: absolute;
    top:0;
    right: 0.15rem;
    font-size: 0.5rem;
   
}

#main {
    
}


#openNav {
    font-size: 0.2rem;
}

.headermain {
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    display: none;
  
}
@keyframes huadong
{
    from{width: 0}
    to{width: 3rem}
}
.nav
{
	padding: 0;
	line-height: 1.5;
    
}
.dropdown-menu>li{

	
	 border-top: 1px solid #ccc;
	margin-left: -0.5rem;
	margin-top:0.05rem;
	
	width:1.31rem;
	
}
.dropdown-menu
{
	list-style: none;
	padding:0px;
	
	display: none;
	
}
.kj5>p
{
    font-size: 0.1rem
}
.kj6>p
{
    font-size: 0.1rem
}
.java1{
	
	list-style: none;
	padding: 0.05rem 0.5rem;
	color:#333;
	width:0.3rem;
    border: 1px solid #ccc;
	background:none; 
    border-radius: 4px;
	border-color:#ccc;
		text-align: center
}
.java1:hover .dropdown-menu
{
	display: block;
}
.btn_jdt{
	border-radius:0.02rem;
	padding: 0.05rem 0.5rem;
	display: block;
	width: 0.5rem;
	height: 0.2rem;
	position:relative;
   font-size: 0.1rem;
    overflow: hidden;
}

.btn_jdt>span
{
	
	position: absolute;
	top:0;
	left: 0;
	border-radius: 0.02rem;
	height: 0.3rem;
    
	
}
.btn_jdt>span>span
{
    padding: 0.1rem 0;
	text-align: center;
	display: block;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 4px;
	width: 0;
	height: 0.098rem;
    overflow: hidden;
	transition: 1s ease-in-out;
}
.btn_jdt>span
{
    width: 1.5rem;
    background: #4186b2;
    color: #67d6c1;
    
}
.btn_jdt:hover>span>span
{
	width: 1.5rem;
	background: #67d6c1;
    color: #4186b2;
		
}
.btn_jdt2
{
 display: block;
  position: relative;
  height: 3.em;
  width: 1.5rem;
  overflow: hidden;
font-size: 0.1rem;
}
.btn_jdt2>span
{
	display: block;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 0;

    transition: 1s ease-in-out;
}
.btn_jdt2::after,.btn_jdt2>span>span
{
	display: block;
    text-align: center;
    border-radius: 0.2rem;
    padding: 0.1rem 0;
}
.btn_jdt2::after
{
	content: attr(data-title);
    width: 1.5rem;
    background: #4186b2;
    color: #67d6c1;
}
.btn_jdt2>span>span
{
	width: 1.5rem;
    background: #67d6c1;
    color: #4186b2;
}
.btn_jdt2:hover>span
{
	width: 1.5rem;
}
.kj4
{
    height: 7rem;
}
.kj4>p
{
    font-size: 0.1rem;
}

.lbimg {
    width:3.3rem;
    height: 1.8rem;
}

.s-c {
    width: 3.29rem;
    position: relative;
   


}

.mySlides {
    display: none;
}

.prev,.next {
    cursor: pointer;/*鼠标样式*/
    position: absolute;
    padding: 0.79rem 0.10rem;
    top: 0;/*或者50%设置内边距16px形成小框*/
    width: auto; 
    
    color: white;
    font-weight: bold;/*加粗*/
    font-size:0.15rem;
    transition: 1s ease;
    border-radius: 0 4px 4px 0;
    
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}
@keyframes fade
{
    from{opacity: .1}
    to  {opacity: 1 }
}

.dot {
  cursor:pointer;
  height: 0.08rem;
  width: 0.1rem;
  margin: 0 -0.074rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,.dot:hover {
  background-color: #717171;
}
.ss
{
    background-color: #bbb;
}

.txtheader {
    color: #f2f2f2;
    font-size: 0.15rem;
    padding: 0.01rem 0.4rem;
    position: absolute;
    top:0;
}

.text {
  color: #f2f2f2;
  font-size: 0.15rem;
  position: absolute;
  width: 6.05rem;
    position:absolute;
  bottom: 0.3rem;
  text-align: center;
}

.dots {
    position: absolute;
    bottom: 0.2rem;
    margin: 0 auto;
   left: 2.8rem;
}
.next
{
    right: 0;
    border-radius: 4px 0 0 4px;
}
.kj5
{
    height: 3.5rem;
}
.tabcontentch{
    height: 16rem;
}
 
            .box{/*最大的盒子*/
                width: 3.75rem;            
                
            }
            .box_log{/*log盒子*/
                width:3rem;
            }
            
            .box_text{/*text搜索框盒子大小*/
                width:3rem;
                height: 0.36rem;
            }
  
            #text{
                width: 2rem;
                height: 0.18rem;
                box-sizing: border-box;
             
            }
            #btn{
                width: 0.8rem;
                height:0.19rem;
                background: #3385FF;
                border: 0px;
                
                color: white;
                margin-left: -0.048rem;
                font-size: 0.15rem;
                box-sizing: border-box;
                transform: translateY(0.03rem);
               
            }
            #btn:hover{
                cursor: pointer;
            }
            #search{
                width: 4rem;
                /*background: yellow;*/
                margin: 0;
                padding: 0 ;
                
                list-style: none;
                display: none;
                border: 1px solid #E3E5E4; 
            }
            #search li{
                line-height: 0.24rem;
                background: white;
                z-index: 10;
            }
            #search li:hover{
                background: #F0F0F0;
            }
            .li1{

                text-indent: 4px;
               z-index: 10;
            }
.kj6
{
    margin-bottom: 0px;
    height: 3rem;
}
